.header {
  width: 100%;
  height: 8vh;
  color: $primary-color;
  box-shadow: 0px 2px 10px 0 rgba(15%, 15%, 15%, 0.3);

  @include respond-phone(phone) {
    height: auto;
  }

  .wrapper {
    height: 100%;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .right {
      height: 100%;
      width: 10%;
      @include respond-phone(phone) {
        width: 100%;
      }

      .header__logo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include respond-phone(phone) {
          margin: 1rem 0 0 0;
        }
        a {
          font-size: 2.5rem;
          font-weight: bold;
          text-decoration: none;
          color: $secondary-color;
          padding: 0;
        }
      }
    }

    @include respond-phone(tab-land) {
      width: 90vw;
    }

    @include respond-phone(tab-port) {
      width: 95vw;
    }

    @include respond-phone(big-desktop) {
      width: 60vw;
    }

    .left {
      @include respond-phone(phone) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content;
      }
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .header__searchBar {
        @include respond-phone(phone) {
          width: 100%;
          margin: 1rem 0;
          grid-row: 3 / -1;
          height: 4rem;
        }

        width: 50%;
        border-radius: 4rem;
        height: 3rem;
        border: 1px solid $secondary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &--search-text {
          border: none;
          outline: none;
          font-size: 1.6rem;
          width: 90%;
          margin: 0.5rem;
        }
        &--search-icon {
          width: 10%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: $secondary-color;
          text-align: center;
          margin-left: 1rem;
        }
      }

      .header__basket {
        @include respond-phone(phone) {
          width: 100%;
          margin: 1rem 0;
          grid-row: 2 / 3;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        height: 4rem;
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid black;
        border-radius: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary-color;
        &--sketch {
          @include respond-phone(phone) {
            width: 30%;
            margin: 1rem 0;
            grid-row: 3 / -1;
          }

          height: 80%;
          width: 100%;
          margin-left: 0.5rem;
          display: flex;
          flex-direction: row;

          .sketch {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            span {
              display: block;
              background-color: deepskyblue;
              height: 1.5rem;
              width: 1.5rem;
              border-radius: 4rem;
              position: absolute;
              z-index: 99999999999999;
              bottom: -3%;
              right: 23%;
            }
          }

          .sketch-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            font-weight: bold;

            p {
              margin: 0;
              padding: 0;
            }
          }
        }
      }

      .header__language {
        @include respond-phone(phone) {
          width: 100%;
          margin: 2rem 0 1rem 0;
          grid-row: 1 / 2;
        }

        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0;
        padding: 0;
        transition: 0.4s ease;
        select {
          font-size: 1.6rem;
          border: none;
          appearance: none;
          -webkit-appearance: none;
          outline: none;
          text-transform: uppercase;
          option {
            font-size: 1.6rem;
            text-transform: uppercase;
            outline: none;
            border: none;
          }
        }

        select:focus ~ .arrow {
          transform: rotate(-135deg);
        }

        .arrow {
          position: absolute;
          bottom: 47%;
          right: 20%;
          transform: rotate(45deg);
          width: 0.8rem;
          height: 0.8rem;
          border-bottom: 2px solid black;
          border-right: 2px solid black;
          transition: 0.4s ease;

          @include respond-phone(phone) {
            right: 45%;
          }
        }
      }
    }
  }
}
